:root {
    --bg-light: #f5f5f5;
}

.mode-particles {
    background-color: white;
}

.mode-banner {
    background-color: white;
}

.mode-navbar {
    background-color: var(--bg-light);
}

.menu ul li:hover {
    text-shadow: 0px 0px 1px black;
}

.menu-item-active {
    text-shadow: 0px 0px 1px black;
}

.main {
    background-color: white;
    box-shadow: -30px 0 30px -30px rgba(169, 169, 169, 0.8), 30px 0 30px -30px rgba(169, 169, 169, 0.8);
}

.modal-body,
.modal-footer {
    background-color: var(--bg-light);
}

.emailToast {
    color: black;
    background: white;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.card {
    box-shadow: 5px 5px 5px #ccc;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.btn-fullscreen {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.btn-fullscreen:hover {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}
